.container{
  border: 2px solid lightblue;
  width: 400px;
  margin: 2px;
  span{

    display: block;
    text-align: center;
    background: turquoise;
    height: 30px;
    padding-top: 10px;
  }
  p {
    transition: max-height .4s ease-in-out;
    max-height: 300px;
    margin: 20px;
  }
}

p.closed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

span:hover{
  transition: background-color 1s ease;
  background: lightblue;
}
